@import "tailwindcss";

@layer theme {
  :root {
    --color-primary: #ef4444; /* red-500 */
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
